<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <bean id="lap" class="com.example.SpringAnnotations.AppleLaptop"></bean>

    <context:component-scan base-package="com.example.SpringIOCbasic"/>
    <!--<bean id="vehicle" class="com.example.SpringIOCbasic.Bike"></bean>-->

   <!-- <context:component-scan base-package="com.example.SpringIOCbasic"></context:component-scan>-->
   <!-- <bean id="tyre" class="com.example.SpringIOCbasic.Tyre"/>-->

  <!--  //Setter Injection
    <bean id="tyre" class="com.example.SpringIOCbasic.Tyre">
        <property name="brand" value="Ceat"/>
    </bean>-->
<!--//Contructor injection
<bean id="tyre" class="com.example.SpringIOCbasic.Tyre">
    <constructor-arg value="MRF"/>
</bean>-->
    <!--<bean id="car" class="com.example.SpringIOCbasic.Car"/>-->

</beans>